body {
  background-color: lightgray;
  width: 100%;
  margin: 0px;
}

.corpo {
  width: 90%;
  margin: 0 auto;
  border: 1px solid gray;
  box-shadow: 0px 0px 15px;
}

#titulo {
  text-align: center;
  margin: 0px;
}
#cabecalho {
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: black;
  color: lightgrey;
  margin: 0px;
}

#minha_foto {
  display: block;
  margin: 20px auto;
  box-shadow: 0px 0px 10px;
  width: 200px;
}

#minha_foto:hover {
  scale: 1.25;
}

.box {
  float: left;
  border: 1px solid #b5b5b5;
  margin-left: 0px;
}

.clear {
  clear: both;
}
.lista {
  display: block;
  width: 347px;
  height: 285px;
  margin-bottom: 10px;
  margin: 0px auto;
  box-shadow: 2px 3px 15px;
}

table,
th,
td {
  border: 1px solid black;
}

td {
  text-align: center;
}

table tr:nth-of-type(2n):hover {
  color: yellowgreen;
  background-color: black;
  scale: 1.05;
  font-size: 1.2em;
  font-weight: 500;
}

table tr:nth-of-type(2n + 1):not(:first-child):hover {
  color: yellow;
  background-color: goldenrod;
  scale: 1.05;
  font-size: 1.2em;
  font-weight: 500;
}

.artigo {
  float: left;
  width: 45%;
  text-indent: 22pt;
  text-align: justify;
  margin-left: 10px;
  margin-top: 30px;
  font-size: 1.2em;
}

.artigo p:hover {
  background-color: silver;
}

section#width {
  width: 52%;
}

#rodape {
  clear: both;
  margin-bottom: 35pt;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.774);
}
a:hover {
  text-decoration: underline;
  color: yellowgreen;
  background-color: rgba(0, 0, 0, 0.678);
}

::selection {
  background-color: #c50ed2;
}
